:root {
  --accent-color: #212121;
  --white-color: #FFFFFF;
  --main-color: #2196F3;
  --top-color: #F5F4FA;
  --secondary-color: #757575;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

image,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  box-sizing: border-box;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.body {
  font-family: "Roboto", sans-serif;
  font-weight: 14px;
  color: var(--accent-color);
  margin: 0;
}

.logo-header {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-right: 93px;
}

.logo-header__color {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.section-description {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-bottom: 50px;
}

.name-contact-people {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.work-contact-people {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 16px;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.contact {
  display: flex;
  align-items: center;
}

.menu__link {
  padding: 32px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  display: block;
  transition: color var(--transition);
}
.menu__link:hover, .menu__link:focus {
  color: var(--main-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.current {
  color: var(--main-color);
  position: relative;
}
.current::after {
  background-color: var(--main-color);
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  bottom: 0;
  height: 4px;
  border-radius: 2px;
}

.current-list {
  color: var(--main-color);
}

.contact-list {
  display: flex;
  margin-left: 50px;
}
.contact-list:first-child {
  margin-left: 0;
}

.contact {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact:hover, .contact:focus {
  color: var(--main-color);
}
.contact:hover .contact__image, .contact:focus .contact__image {
  color: var(--main-color);
}

.contact__image {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  text-align: center;
  padding: 200px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/Hero.jpg);
  background-color: #C4C4C4;
}

.hero-side {
  padding-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.modal-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
}
.modal-btn:hover {
  cursor: pointer;
}

.plus {
  padding: 94px 0;
}

.plus-list {
  display: flex;
}

.plus-item:not(:last-child) {
  margin-right: 30px;
}

.plus-item-wrapper {
  background-color: var(--top-color);
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus-symbol {
  width: 70px;
  height: 70px;
}

.plus-title {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.plus-text {
  width: 270px;
  color: var(--secondary-color);
}

.activity {
  padding-bottom: 94px;
}

.section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.activity-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.activity-card {
  position: relative;
}

.activite-txt {
  position: relative;
  bottom: 76.5px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
}

.employees-section {
  background-color: var(--top-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.employees-title {
  margin-bottom: 50px;
}

.employees-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.employees-card {
  width: 270px;
  height: 428px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.name-contact-people {
  margin-bottom: 10px;
}

.index-padding {
  padding-top: 30px;
  padding-bottom: 30px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-list-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-item-link:hover, .social-list-item-link:focus {
  background-color: var(--main-color);
}
.social-list-item-link:hover .social-list-sprite, .social-list-item-link:focus .social-list-sprite {
  fill: var(--white-color);
}

.social-list-sprite {
  fill: #AFB1B8;
  width: 20px;
  height: 20px;
  transition: var(--transition);
}

.permanent-section {
  padding: 94px 0;
}

.permanent-title {
  margin-bottom: 50px;
}

.permanent-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.permanent-list-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--white-color);
  fill: #AFB1B8;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: fill var(--transition), border-color var(--transition);
}
.permanent-list-item-link:focus, .permanent-list-item-link:hover {
  fill: var(--main-color);
  border-color: var(--main-color);
}

.footer__list {
  padding-left: 70px;
}

.footer__flex {
  display: flex;
  align-items: baseline;
}

.footer__link {
  display: flex;
  gap: 10px;
}

.footer__txt {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  padding-bottom: 20px;
}

.footer__list-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition);
}
.footer__list-item-link:hover, .footer__list-item-link:focus {
  background-color: var(--main-color);
}

.footer__list-sprite {
  fill: var(--white-color);
  width: 20px;
  height: 20px;
}

.footer__social-form {
  padding-top: 12px;
}

.footer-form-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  background-color: #2F303A;
  color: var(--white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
}
.footer-form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer__button-svg {
  margin-left: 10px;
}

.footer {
  background: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.footer__contact {
  padding-top: 20px;
}

.footer__logo-color {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer__contact-map {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
  padding-top: 20px;
  transition: color var(--transition);
}
.footer__contact-map:hover, .footer__contact-map:focus {
  color: #2196F3;
}

.footer__contact {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  transition: color var(--transition);
}
.footer__contact:hover, .footer__contact:focus {
  color: var(--main-color);
}

.footer__form {
  display: flex;
}

.footer__social-form {
  padding-top: 12px;
  padding-left: 92px;
}

.footer__form-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  background-color: #2F303A;
  color: var(--white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
}
.footer__form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer__form-button {
  display: flex;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opasity var(--transition), visibility var(--transition);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 580px;
  background-color: rgb(255, 255, 255);
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: border-color var(--transition);
}
.modal-close-btn:hover, .modal-close-btn:focus {
  background-color: var(--white-color);
}

.modal-close-btn-icon {
  transition: fill var(--transition);
}
.modal-close-btn:hover .modal-close-btn-icon, .modal-close-btn:focus .modal-close-btn-icon {
  fill: var(--main-color);
}

.modal-txt {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-fieled {
  margin-bottom: 10px;
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--transition);
}
.modal-form-input:focus {
  border-color: var(--main-color);
  outline: none;
}
.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--main-color);
}

.modal-form-input-desc {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
  margin-bottom: 4px;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-color var(--transition);
}
.modal-form-message:focus {
  border-color: var(--main-color);
  outline: none;
}
.modal-form-message::placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-input-icon {
  transition: fill var(--transition);
  fill: #000000;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translate(0, -50%);
  display: block;
  width: 12px;
  height: 12px;
}

.modal-form-check-desc {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 30px;
  margin-left: 12px;
  color: var(--secondary-color);
}
.modal-form-check-desc::before {
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--accent-color);
  border-radius: 2px;
  content: "";
  cursor: pointer;
  background: #FFFFFF;
  margin-right: 7px;
}
.modal-form-check:checked + .modal-form-check-desc::before {
  background-image: url(../image/icon.svg);
  background-color: var(--main-color);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}
.modal-form-check:focus + .modal-form-check-desc::before {
  outline: 1px solid var(--main-color);
}

.modal-form-check-description {
  color: var(--main-color);
}

.modal-form-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  font-family: inherit;
  letter-spacing: 0.06em;
  min-width: 160px;
  align-self: center;
  padding: 10px 55px;
  color: var(--white-color);
  background: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: color var(--transition), background-color var(--transition);
  border: none;
}
.modal-form-submit:hover, .modal-form-submit:focus {
  background-color: background-color #188CE8;
}

.section {
  padding: 94px 0;
}

.work-type-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.buton-list:not(:last-child) {
  margin-right: 8px;
}

.btn-list {
  border: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--accent-color);
  background: #F5F4FA;
  border-radius: 4px;
  transition: color var(--transition), background-color var(--transition);
}
.btn-list:hover, .btn-list:focus {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background: var(--main-color);
}

.completed-works {
  padding-top: 34px;
  padding-bottom: 94px;
}

.works-list {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  gap: 30px 0;
}

.work-card {
  width: 31%;
  background: var(--white-color);
  border: 1px solid #EEEEEE;
}
.work-card:focus, .work-card:hover {
  background: var(--white-color);
  border: 1px solid #EEEEEE;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card-wraper {
  position: relative;
  overflow: hidden;
}

.work-photo {
  width: 100%;
}

.overlay {
  transition: transform 500ms linear;
  transform: translate(0, 102.5%);
  overflow: auto;
  position: absolute;
  left: 0;
  top: 0;
  max-width: 100%;
  max-height: 100%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--main-color);
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
}
.portfolio-card-link-wraper:hover .overlay, .portfolio-card-link-wraper:focus .overlay {
  transform: translate(0, 0);
}

.portfolio-padding {
  padding: 20px 24px;
}

.portfolio-title {
  margin-bottom: 4px;
  width: 322px;
  height: 30px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--accent-color);
}

.portfolio-section {
  width: 322px;
  height: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}/*# sourceMappingURL=main.css.map */