.employees-section {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}

.employees-title {
    margin-bottom: 50px;
}

.employees-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.employees-card {
    width: 270px;
    height: 428px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.name-contact-people {
    margin-bottom: 10px;
}

.index-padding {
    padding-top: 30px;
    padding-bottom: 30px;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-list-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #fff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-sprite {
    fill: #AFB1B8;
    ;
    width: 20px;
    height: 20px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item-link:hover,
.social-list-item-link:focus {
    background-color: #2196F3;
}

.social-list-item-link:hover .social-list-sprite,
.social-list-item-link:focus .social-list-sprite {
    fill: #FFFFFF;
}