.footer__list {
    padding-left: 70px;
}

.footer__flex {
    display: flex;
    align-items: baseline;
}

.footer__link {
    display: flex;
    gap: 10px;
}

.footer__txt {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    padding-bottom: 20px;
}

.footer__list-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color var(--transition);

    &:hover,
    &:focus {
        background-color: var(--main-color);
    }
}

.footer__list-sprite {
    fill: var(--white-color);
    width: 20px;
    height: 20px;
}


.footer__social-form {
    padding-top: 12px;
}


.footer-form-input {
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    background-color: #2F303A;
    color: var(--white-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 12px;
    
    &::placeholder {
            color: rgba(255, 255, 255, 0.6);
            ;
        }
}

.footer__button-svg {
    margin-left: 10px;
}

.footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

.footer__contact {
    padding-top: 20px;
}

.footer__logo-color {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--white-color);
}

.footer__contact-map {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-color);
    padding-top: 20px;
    transition: color var(--transition);

    &:hover,
    &:focus {
        color: #2196F3;
    }
}

.footer__contact {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    transition: color var(--transition);

    &:hover,
    &:focus {
        color: var(--main-color);
    }
}

.footer__form {
    display: flex;
}

.footer__social-form {
    padding-top: 12px;
    padding-left: 92px;
}


.footer__form-input {
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    background-color: #2F303A;
    color: var(--white-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 12px;

    &::placeholder {
        color: rgba(255, 255, 255, 0.6);
        ;
    }
}

.footer__form-button {
    display: flex;
}