.hero {
    text-align: center;
    padding: 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../image/Hero.jpg);
    background-color: #C4C4C4;
    ;
}

.hero-side {
    padding-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.modal-btn {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background: var(--main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;

    &:hover {
        cursor: pointer;
    }
}

.plus {
    padding: 94px 0;
}

.plus-list {
    display: flex;
}

.plus-item:not(:last-child) {
    margin-right: 30px;
}

.plus-item-wrapper {
    background-color: var(--top-color);
    width: 270px;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plus-symbol {
    width: 70px;
    height: 70px;
}

.plus-title {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color);
}

.plus-text {
    width: 270px;
}