.permanent-section {
    padding: 94px 0;
}

.permanent-title {
    margin-bottom: 50px;
}

.permanent-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.permanent-list-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #FFFFFF;
    fill: #AFB1B8;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.permanent-list-item-link:focus,
.permanent-list-item-link:hover {
    fill: #2196F3;
    border-color: #2196F3;
}