.permanent-section {
    padding: 94px 0;
}

.permanent-title {
    margin-bottom: 50px;
}

.permanent-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.permanent-list-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--white-color);
    fill: #AFB1B8;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: fill var(--transition),
    border-color var(--transition);

    &:focus,
    &:hover {
        fill: var(--main-color);
        border-color: var(--main-color);
    }
}