.section {
    padding: 94px 0;
}

.work-type-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}

.buton-list:not(:last-child) {
    margin-right: 8px;
}

.btn-list {
    border: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: var(--accent-color);
    background: #F5F4FA;
    border-radius: 4px;
    transition: color var(--transition),
    background-color var(--transition);

    &:hover,
    &:focus {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--white-color);
        background: var(--main-color);
    }
}

.completed-works {
    padding-top: 34px;
    padding-bottom: 94px;
}

.works-list {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 0;
}

.work-card {
    width: 31%;
    background: var(--white-color);
    border: 1px solid #EEEEEE;

    &:focus,
    &:hover {
        background: var(--white-color);
        border: 1px solid #EEEEEE;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.portfolio-card-wraper {
    position: relative;
    overflow: hidden;
}

.work-photo {
    width: 100%;
}

.overlay {
    transition: transform 500ms linear;
    transform: translate(0, 102.5%);
    overflow: auto;
    position: absolute;
    left: 0;
    top: 0;
    max-width: 100%;
    max-height: 100%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: var(--main-color);
    padding: 63px 24px;
    background: rgba(33, 150, 243, 0.9);

    .portfolio-card-link-wraper:hover &,
    .portfolio-card-link-wraper:focus & {
        transform: translate(0, 0);
    }
}

.portfolio-padding {
    padding: 20px 24px;
}

.portfolio-title {
    margin-bottom: 4px;
    width: 322px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--accent-color);
}

.portfolio-section {
    width: 322px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}