:root {
    --accent-color: #212121;
    --white-color: #FFFFFF;
    --main-color: #2196F3;
    --top-color: #F5F4FA;
    --secondary-color: #757575;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}